<template name="about">
  <div class="container">


  <div class="panel panel-default">
    <div class="panel-heading">About Lychee CRM</div>
    <div class="panel-body">
      <p>it's going to be a purpose CRM. Source CoDE can be found on <strong> <a href="https://github.com/distalx/lychee-crm"> Github</a> </strong> Contributions are <strong> <a href="https://github.com/distalx/lychee-crm/issues"> welcome</a> </strong></p>
      <p> <b>Admin</b> Login : admin,  PWD: <i> lychee123 </i> </p><br>

      <hr>
      <h4>History</h4>
      <h5>version 0.0.1</h5>
      <ul>
        <li>user can purchase subscription</li>
        <li>user recieves an inviton/email on any purches and setup an account by following the invition link.</li>
        <li>admin can track user subscriptions</li>
      </ul>
      <br>
      <hr>
      <h4>RoadMAP</h4>
      <ul>
        <h4>functionality for users</h4>
        <li>cancle/ refund/ renew/ switch subscription</li>
        <li>delete account</li>
        <li>manage email alerts</li>
        <li>provide a feedback </li>
        <br>
        <h4>functionality for visitors</h4>
        <li>ask a question to bot or cc</li>
        <br>
        <h4>functionality for admin</h4>
        <li>cancle/ refund/ renew/ switch subscription</li>
        <li>monthly/weekly/daily report & smart analytics</li>
        <li>user/role management</li>
        <li>add/modify/remove subscription packages</li>
        <li>discount management</li>
        <li>add dynemic content</li>
        <li>add testimonial from varios social natwor</li>

      </ul>
    </div>
  </div>

  </div>
</template>
